# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

__pycache__

pic_draw

ckpt

data/agnews
data/gsm8k
data/poison
data/pruned
data/sst2
data/autodan.json
data/gcg.json
data/gpt4o*
data/safety_only_data_Instructions.json

robust-llama3-8b-instruct

alpaca

cache

# Ignore files related to API keys
*.env

# Ignore SASS config files
*.sass-cache

# Ignore SASS config files
*.pt

*.json

# Ignore SASS config files
*.log

*.out

*alpaca.sh

# Ignore SASS config files
.idea

*.pyc

data_copy

script_copy

ckpt_copy

fig

*draw_pic.py

*prune_test.py

*visual_test.py

draw fig

runs

wandb

*.png
*.pdf

*.npy

svd.py
salora_process.py
visualization.py
visualization2.py
task_arithmetic.py
ties_merging.py
loss_landscape.py
LEGO.py
fisher*
finding_safety_neurons.py
extract_delta_w.py
extract_harmfulness_data.py
extract_SOFT_direction.py
extract_SOFT_direction2.py
compare_safetylora_safelora.py
layerwise_safelora_analysis.py
project_user_to_safetylora.py
projection_analysis.py

poison/evaluation/pred2.py
poison/evaluation/pred_autodan.py
poison/evaluation/pred_backdoor.py
poison/evaluation/pred_gcg.py
poison/evaluation/pred_gptcipher.py
poison/evaluation/pred_gptfuzzer.py
poison/evaluation/pred_pair.py
poison/evaluation/pred_tap.py

loss_func
draw_fig

mixed_data

si_SafeKD

script/alignment
script/finetune/united
script/finetune/smooth_*.sh
script/finetune/repnoise_*.sh
script/finetune/system_evaluate_*.sh
script/finetune/vaccine_*.sh

*.pptx
*.csv

huggingface_token.txt
